html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}

/* footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.bg-btn-revisor{
    background-color: #AFADAD ;
    color: black;
}

.bg-btn-revisor:hover{
    background-color: black ;
    color: #AFADAD;
}



.height-custom{
    height: 180px;
}

.position-custom-home{
    position: relative;
    top: -50px;
}

.position-custom-h1{
    position: relative;
    top:-20px
}






/* navbar */

.bg-navbar{
    background-color: #333;
}

.s-btn{
    background-color: #FEBD69;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
}

.s-btn:hover{
    background-color: #F3A847;
}

.dropdown{
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(175, 173, 173);
}

.s-input{
    width: 500px;
}

.nav-link{
    color: aliceblue;
    font-size: 1.2rem;
}

.w100{
    width: 100%;
}

.login-w{
    width: auto;
}

.navbar-toggler{
    background-color: white;
    border: 3px solid orangered;
}

.dropdown-menu.show{
    margin-top: 10px;
}

.categ{
    width: 170px;
    flex-shrink: 0;
}

/* form */
.glow-form .form-control:focus{
    box-shadow: 0px 0px 8px 5px #F78B08;
    background-color: #eceae2
}

.nav-hover:hover{
    
    background-color: rgb(175, 173, 173);
    border-radius: 5px;
}

.form-w{
    width: 360px;
}

.form-button{
    background-color: #F78B08;
}

.form-button:hover{
    background-color: #e9aa5d;
}

.img-preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 320px;
}

/* revisor dashboard */
.revbox{
    width: 500px;
}

/* Card */
.card-body{
    background-color: #F9FAFB !important; 
}

.card:hover{
    transform: scale(1.02);
    transition: 0.4s;
    z-index: 3;
}


@media screen and (max-width: 970px) {
    .s-input{
        width: auto;
        flex-grow: 1;
    }

    .mt-custom-md{
        margin-top: 10px;
    }

    .categ{
        width: auto;
        
    }
    
}
